<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONLINE COURSES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body style="background-color:rgb(177, 220, 159) ;">   
    <nav class="navbar navbar-expand-lg bg-light">
      
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ONLINE COURSES</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              
              
              
            </ul>
            
          </div>
        </div>
      </nav>
      
      </div>
    </div>
  </div>
</div>
      
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>  
      <div class="container m-5">
            <h3 style=color:blueviolet class="cont">ALL ABOUT SUBJECTS</h3>
            <div class="contact-container m-5">
            <div class="contact">
                <br>
                <div>
                    <h2 class="flask">FLASK</h2>
                  </div>
               <h5 class="flask">Flask is a web application framework written in Python. It is developed by Armin Ronacher, who leads an international group of Python enthusiasts named Pocco. Flask is based on the Werkzeug WSGI toolkit and Jinja2 template engine. Both are Pocco projects.  Web Application Framework or simply Web Framework represents a collection of libraries and modules that enables a web application developer to write applications without having to bother about low-level details such as protocols, thread management etc.</h5>
                </br>
                <br>
               <div>
                <h2 class="sql">SQL</h2>
              </div>
              <h5 class="sql">SQL stands for Structured Query Language
                SQL lets you access and manipulate databases
                SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987</h5>
            </br>
            <br>
            <div>
                <h2 class="PYTHON">PYTHON</h2> 
              </div>
              <h5 class="python">Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

                It is used for:
                
                web development (server-side),
                software development,
                mathematics,
                system scripting.</h5>
            </br>
            <br>
            <div>
                <h2 class="C++">C++</h2> 
        </div>
             <h5 class="c++">C++ is a cross-platform language that can be used to create high-performance applications.

                C++ was developed by Bjarne Stroustrup, as an extension to the C language.
                
                C++ gives programmers a high level of control over system resources and memory.
                
                The language was updated 4 major times in 2011, 2014, 2017, and 2020 to C++11, C++14, C++17, C++20.</h5>
            </br>
            <br>
            <div>
                <h2 class="html and css">HTML and CSS</h2>
              </div>
              <h5 class="html and css">HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets) are two of the core technologies for building Web pages. HTML provides the structure of the page, CSS the (visual and aural) layout, for a variety of devices.</h5>
            </br>
            

        
           
        </div>
        </div>
           </div>
      
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>